*
{
    outline: #000000 solid 1px
}

html
{
}

body
{
}

.board {
    table-layout:fixed;
}

.board tr td {
    overflow:hidden;
    width:10vw;
    font-size: 11.5vw;
    vertical-align: top;
}

.cell {
    height:10vw;
    width:10vw;
}

.info {
    position: fixed;
    margin-left: 5vw;
    margin-top: 5vw;
    font-size: 20px;
}

.info .title {
    font-size: 25px;
}